Source: python-vaticinator
Section: games
Priority: optional
Maintainer: Matt Barry <matt@hazelmollusk.org>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 12),
               dh-python,
               dh-sequence-python3,
               dpkg-dev (>= 1.16.1),
               fortune-cookie-db | fortunes-min,
               python3
Vcs-Git: https://github.com/hazelmollusk/vaticinator.git
Vcs-Browser: https://github.com/hazelmollusk/vaticinator

Package: python3-vaticinator
Architecture: any
Replaces: fortune
Provides: fortune
Conflicts: fortune
Depends: python3, ${misc:Depends}, ${shlibs:Depends}
Recommends: fortune-cookie-db | fortunes-min
Suggests: bsdextrautils, fortunes
Description: provides fortune cookies on demand
 The vaticinator package provides a Python reimplemention of the
 'fortune' program.  The 'vaticinator' command supports most/all
 of the functionality of the original; also provided is a
 library of reusable fortune cookie functionality.  (Below is the
 description of the 'fortune' package.)
 .
 The fortune program displays epigrams, known as fortune cookies,
 selected randomly from a selection of fortune files.
 .
 This package provides the fortune program itself and the programs
 used for generating the data files. The data files are contained in
 the fortunes-min and fortunes packages.
